@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: #181818;
$body-color: #ffffff;

$theme-colors: map-merge($theme-colors, (
	"primary": #13c48a,
));

@import "~bootstrap/scss/bootstrap";
@import "animations";

body {
	background-color: transparent;
}

.text-semi-muted {
	color: lighten($text-muted, 20%)
}

.square {
	&:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}

.text-small {
	font-size: .8em;
}

.link-inherit {
	color: inherit;

	&:hover {
		color: inherit;
		opacity: .8;
	}
}

.absolute-fill {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.absolute-bottom {
	bottom: 0;
	left: 0;
	right: 0;
}
.absolute-top-right {
	top: 0;
	right: 0;
}

.btn {
	&.btn-link {
		&, &:active, &:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

.modal {
	color: $body-bg;
}

.bg-body {
	background-color: $body-bg;
}

.opacity-0 {
	opacity: 0;
}
.opacity-1 {
	opacity: 1;
}

@for $i from 0 through 100 {
	@each $breakpoint in map-keys($grid-breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

			.w#{$infix}-#{$i} {
				width: #{$i * 1%};
			}
		}
	}
}
